.container {
  margin: 3rem auto;
  max-width: 650px;
  padding: 0 1rem;
}

.header {
  margin-bottom: 1.5rem;
}

.logo {
  text-shadow: 'none';
  background-image: none;
}

.logoText {
  display: inline;
}

.menuList {
  list-style: none;
  float: right;
}

.menuLink {
  display: inline-block;
  margin-right: 1rem;
}